.catalogo{
  display: flex;
  background-color:#C2185B;
  height: 602px;
  flex-direction: column; 
  justify-content: space-evenly
}

.catalogo .produto{
  display: flex;
  justify-content: center;
  width: 100%;
}
.catalogo h1{
  color: #fff;
  display: flex;
  justify-content: center;
  
  font-weight: 800;
}

.catalogo img{
  width: 100%;
  
}
.catalogo article{
  background-color: #fff;
  height: 450px;
  margin: 0 22px;
}
.catalogo h3{
  margin: 0 19px;
  font-weight: 600;
  margin-bottom: 10px;
}

.catalogo span{
  margin-left: 19px;
  font-size:16px;
 
}

